.song-list {
	width: 100%;
	table {
		margin-top: 50px;
		width: 100%;
		table-layout: fixed;
		tr {
			border-bottom: 1px solid #282828;
			transition: background-color 0.3s linear;
			td:first-child {
				width: 4%;
				opacity: 0;
				transition: opacity 0.3s linear;
			}
			td:last-child {
				width: 9%;
			}
			&:hover {
				background-color: #282828;
				td:first-child {
					opacity: 1;
				}
			}
		}
		thead {
			tr {
				td {
					color: #A2A2A2;
					text-transform: uppercase;
					text-align: center;
				}
			}
		}
		td {
			padding: 20px 20px;
			color: #FFFFFF;
		}
		tbody {
			tr {
				td {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					svg {
						cursor: pointer;
					}
					&:last-child {
						text-align: center;
					}
				}
			}
		}
	}
}