.searchBar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 25px;
	height: 50px;
	color: #959595;
}

#profileDiv {
	justify-content: flex-end;
}

.searchDiv > * {
	margin: 0 10px;
	color: #959595;
}

.searchDiv {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	width: 25%;
	align-items: center;
}

.searchDiv > a {
	text-decoration: none;
	color: lightgray;
	width: 65%;
}

.searchInput {
	width: 100%;
	height: 25px;
	border-radius: 15px;
	border: none;
	outline: none;	
}

.arrowIcon {
	color: white;
	font-size: 25px;
	color: #959595
}