.searchBar {
    width: 88%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 225px;
    color: white;
    padding-left: 10px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.searchInput{
    border-radius: 15px;
    height: 50%;
    width: 200px;
    border: none;
}

.searchDiv {
    display: flex;
    flex-direction: row;
    margin-right: 18px;
    align-items: center;
}

#profileDiv {
    position: fixed;
    top: 0;
    right: 0;
}

.icon {
    width: 30px;
    height: 30px;
}