@import "../../variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.sideBar {
	height: 90vh;
	width: 15%;
	background-color: #121212;
	margin: 0;
	font-family: 'Montserrat', sans-serif;	
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px;
	color: $text;
	a {
		text-decoration: none;
		color: $text;
		> p {
			margin-bottom: 15px;
		}
	}
	div {
		> p {
			margin-bottom: 28px;
		}
	}
	div {
		margin-bottom: 50px;
	}
	.newPlaylistDiv {
		display: flex;
		.fa-plus {
			margin-right: 10px;
			border: 2px solid $text;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			padding: 2.5%;
		}
	}
}

.pTags:hover {
	color: white;
}