.sideBar {
    width: 185px;
    height: 92vh;
    background: #121212;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.textColumn {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    padding: 15px;
    box-sizing: border-box;
}

.newPlaylistDiv {
    align-items: center;
    justify-content: center;
    border-top: .5px solid grey;
}


.sideBarText{
    font-size: 13px;
    font-weight: 100;
}

.pTags {
    margin: 0px;
    font-weight: 500;
    margin-bottom: 18px;
    
}

