.routes-container {
    padding-top: 100px;
    width: 87%;
    height: 87%;
    position: fixed;
    top: 4%;
    left: 225px;
    display: flex;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    
}