.musicPlayer {
	position: fixed;
	width: 100%;
	background-color: #282828;
	height: 10vh; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	bottom: 0px;
}
  
  .currently-playing-container {
	  width: 20%;
	  height: 100%;
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-start;
	  align-items: center;
	  margin-left: 1%;
  }
  .currently-playing-container > img {
	  height: 80%;
  }
  
  .song-artist-container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  margin-left: 5%;
  }
  
  .song-artist-container > h3 {
	  font-size: 16px;
	  margin-bottom: 15%;
	  margin-left: 0;
  }

  .song-artist-container > h3:hover {
	  color: #1ed760;
	  cursor: pointer;
  }
  
  .song-artist-container > p {
	  font-size: 10px;
	  margin-bottom: 0;
  }

  .song-artist-container > p:hover {
	  color: #1ed760;
	  cursor: pointer;
  }
  
  .player-options-container {
	  width: 45%;
	  height: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
  }
  
  .play-button-container {
	  width: 100%;
	  height: 100%;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  font-size: 16px;
	  color: gray;
  }
  
  #shuffle {
	  margin-right: 4%;
  }

  #shuffle:hover {
	  color: white;
	  cursor: pointer;
  }

  #first-icon :hover {
	  color: white;
	  cursor: pointer;
  }
  
  #middle-icon {
	  font-size: 25px;
	  margin: 0 4%;
  }
  
  #middle-icon :hover {
	  color: white;
	  cursor: pointer;
	  transform: scale(1.1);
  }
  
  #last-icon :hover {
	  color: white;
	  cursor: pointer;
  }
  
  #repeat {
	  margin-left: 4%;
	  font-size: 15px;
  }

  #repeat:hover {
	  color: white;
	  cursor: pointer;
  }

  .playback-time-container {
	  width: 100%;
	  height: 35%;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  align-items: center;
	  background: red;
  }
  
  .volume-container {
	  width: 20%;
	  height: 100%;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  align-items: center;
  }

  .green-bar {
	  width: 65%;
	  height: 2%;
	  background-color: #1ed760;
  }

  .volume-container :hover {
	  color: white;
	  cursor: pointer;
  }
