body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1E1E1E;
  height: 100vh;
  color: #959595; }
  .App .container {
    display: flex;
    width: 100%;
    height: 85vh; }
  .App ::-webkit-scrollbar {
    display: none; }
  .App h1 {
    font-size: 38px;
    color: white; }

.filterInput {
  margin: 15px 0;
  width: 100%;
  background: none;
  opacity: 0.9;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px; }

.filterInput:focus {
  background: #535353; }

.filterInput:hover {
  color: white; }

.flexColumn {
  display: flex;
  flex-direction: column; }

.browseMainView hr {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  padding: 0;
  border-bottom: .25px solid #535353;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent; }

.browseMainView .messageHeader {
  margin: 20px 0;
  justify-content: space-between;
  align-items: center; }
  .browseMainView .messageHeader h3 {
    color: #FFFFFF;
    font: bold 24px 'Arial'; }

.browseMainView .flexRow {
  display: flex; }
  .browseMainView .flexRow div {
    display: flex; }
    .browseMainView .flexRow div .arrow {
      width: 12px;
      height: 12px;
      margin: 0 8px;
      border-left: 1px solid #959595;
      border-bottom: 1px solid #959595;
      cursor: pointer; }
    .browseMainView .flexRow div .arrow-left {
      transform: rotate(45deg); }
    .browseMainView .flexRow div .arrow-right {
      transform: rotate(225deg); }
    .browseMainView .flexRow div .arrow-left:hover {
      border-left: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff; }
    .browseMainView .flexRow div .arrow-right:hover {
      border-left: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff; }

.browseMainView .featuredPlaylists {
  width: 100%;
  height: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  transition: transform 0.5s linear; }
  .browseMainView .featuredPlaylists .slider {
    width: 100%;
    height: 100%;
    transition: transform 0.5s linear; }
    .browseMainView .featuredPlaylists .slider .hot-playlist {
      text-decoration: none;
      color: #959595;
      text-align: center;
      height: 100%;
      min-width: 300px;
      max-width: 300px;
      margin-right: calc((100% - 300px * 4) / 3);
      overflow: hidden; }
      @media (max-width: 1344px) {
        .browseMainView .featuredPlaylists .slider .hot-playlist {
          min-width: 33%;
          max-width: 33%;
          margin-right: calc((100% - 33% * 3) / 2); }
          .browseMainView .featuredPlaylists .slider .hot-playlist:nth-child(3n) {
            margin-right: 0; } }
      @media (min-width: 1344px) {
        .browseMainView .featuredPlaylists .slider .hot-playlist:nth-child(4n) {
          margin-right: 0; } }
      .browseMainView .featuredPlaylists .slider .hot-playlist:last-child {
        margin-right: 0; }
    .browseMainView .featuredPlaylists .slider .featuredPlaylist {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image {
        position: relative; }
        .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image:hover .playlist-cover {
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%; }
          .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image:hover .playlist-cover .playlist-button {
            display: block; }
          .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image:hover .playlist-cover:after {
            display: block; }
        .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image img {
          height: 100%; }
        .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image .playlist-cover {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(0, 0, 0, 0);
          z-index: 2; }
          .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image .playlist-cover .playlist-button {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-left: 30px solid #FFFFFF;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            z-index: 9; }
          .browseMainView .featuredPlaylists .slider .featuredPlaylist .playlist-image .playlist-cover:after {
            content: '';
            display: none;
            position: absolute;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.8);
            width: 70px;
            height: 70px;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-57%, -50%); }
      .browseMainView .featuredPlaylists .slider .featuredPlaylist p {
        margin-top: 15px;
        color: #ffffff; }

.browseMainView .subheader {
  border-top: .25px #535353 solid;
  padding: 40px 0;
  justify-content: space-evenly; }
  .browseMainView .subheader a {
    text-decoration: none;
    color: #959595;
    margin-right: 20px; }
    .browseMainView .subheader a:last-child {
      margin-right: 0; }

.browseMainView .flexRowWrap .category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border-top: .25px #535353 solid; }
  .browseMainView .flexRowWrap .category a {
    min-width: 24%;
    margin-right: calc((100% - 24% * 4) / 3);
    margin-bottom: 40px; }
    .browseMainView .flexRowWrap .category a:hover p {
      text-decoration: underline; }
    @media (max-width: 1344px) {
      .browseMainView .flexRowWrap .category a {
        flex-basis: 33%;
        margin-right: calc((100% - 33% * 3) / 2); }
        .browseMainView .flexRowWrap .category a:nth-child(3n) {
          margin-right: 0; } }
    .browseMainView .flexRowWrap .category a div .category-image {
      width: 100%;
      height: 100%;
      position: relative; }
      .browseMainView .flexRowWrap .category a div .category-image img {
        width: 100%; }
      .browseMainView .flexRowWrap .category a div .category-image p {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        color: #FFFFFF; }
    @media (min-width: 1344px) {
      .browseMainView .flexRowWrap .category a:nth-child(4n) {
        margin-right: 0; } }

.sectionButton {
  width: 350px;
  height: 200px;
  align-items: center;
  justify-content: space-between; }

.sectionImage {
  width: 100%;
  height: 80%; }

.browse-nav .flexRow {
  display: flex; }
  .browse-nav .flexRow a {
    margin-right: 20px;
    text-decoration: none;
    color: #959595; }
    .browse-nav .flexRow a:last-child {
      margin-right: 0; }

.content {
  display: inline-block;
  height: 90vh;
  overflow: scroll;
  background: #181818;
  padding: 3px 40px;
  width: 100%; }
  .content ::-webkit-scrollbar {
    display: none; }

.dashboard {
  margin: 0; }

.musicPlayer {
  position: fixed;
  width: 100%;
  background-color: #282828;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0px; }

.currently-playing-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%; }

.currently-playing-container > img {
  height: 80%; }

.song-artist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%; }

.song-artist-container > h3 {
  font-size: 16px;
  margin-bottom: 15%;
  margin-left: 0; }

.song-artist-container > h3:hover {
  color: #1ed760;
  cursor: pointer; }

.song-artist-container > p {
  font-size: 10px;
  margin-bottom: 0; }

.song-artist-container > p:hover {
  color: #1ed760;
  cursor: pointer; }

.player-options-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.play-button-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: gray; }

#shuffle {
  margin-right: 4%; }

#shuffle:hover {
  color: white;
  cursor: pointer; }

#first-icon :hover {
  color: white;
  cursor: pointer; }

#middle-icon {
  font-size: 25px;
  margin: 0 4%; }

#middle-icon :hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1); }

#last-icon :hover {
  color: white;
  cursor: pointer; }

#repeat {
  margin-left: 4%;
  font-size: 15px; }

#repeat:hover {
  color: white;
  cursor: pointer; }

.playback-time-container {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: red; }

.volume-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.green-bar {
  width: 65%;
  height: 2%;
  background-color: #1ed760; }

.volume-container :hover {
  color: white;
  cursor: pointer; }

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  height: 50px;
  color: #959595; }

.searchDiv > * {
  margin: 0 10px;
  color: #959595; }

.searchDiv {
  display: flex;
  justify-content: flex-end;
  width: 15%;
  align-items: center; }

.searchDiv > a {
  text-decoration: none;
  color: lightgray; }

.searchInput {
  width: 150px;
  height: 25px;
  border-radius: 15px;
  border: none;
  outline: none; }

.arrowIcon {
  color: white;
  font-size: 25px;
  color: #959595; }

.sideBar {
  height: 90vh;
  width: 15%;
  background-color: #121212;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  color: #959595; }
  .sideBar a {
    text-decoration: none;
    color: #959595; }
    .sideBar a > p {
      margin-bottom: 15px; }
  .sideBar div > p {
    margin-bottom: 28px; }
  .sideBar div {
    margin-bottom: 50px; }
  .sideBar .newPlaylistDiv {
    display: flex; }
    .sideBar .newPlaylistDiv .fa-plus {
      margin-right: 10px;
      border: 2px solid #959595;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      padding: 2.5%; }

.pTags:hover {
  color: white; }

.song-list {
  width: 100%; }
  .song-list table {
    margin-top: 50px;
    width: 100%;
    table-layout: fixed; }
    .song-list table tr {
      border-bottom: 1px solid #282828;
      transition: background-color 0.3s linear; }
      .song-list table tr td:first-child {
        width: 4%;
        opacity: 0;
        transition: opacity 0.3s linear; }
      .song-list table tr td:last-child {
        width: 9%; }
      .song-list table tr:hover {
        background-color: #282828; }
        .song-list table tr:hover td:first-child {
          opacity: 1; }
    .song-list table thead tr td {
      color: #A2A2A2;
      text-transform: uppercase;
      text-align: center; }
    .song-list table td {
      padding: 20px 20px;
      color: #FFFFFF; }
    .song-list table tbody tr td {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
      .song-list table tbody tr td svg {
        cursor: pointer; }
      .song-list table tbody tr td:last-child {
        text-align: center; }

.playlist .playlist-header {
  display: flex; }
  .playlist .playlist-header .playlist-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px; }
    .playlist .playlist-header .playlist-info h1 {
      color: #FFFFFF;
      font: bold 48px sans-serif;
      margin-bottom: 10px; }
    .playlist .playlist-header .playlist-info h3 {
      color: #FFFFFF;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .playlist .playlist-header .playlist-info p {
      color: #A2A2A2;
      margin-bottom: 20px; }

.charts {
  margin: 20px 0;
  width: 100%; }
  .charts hr {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    padding: 0;
    border-bottom: 2px solid #FFFFFF;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent; }
  .charts h3 {
    color: #FFFFFF;
    font: bold 24px 'Arial'; }
  .charts .charts-wrapper {
    display: flex;
    justify-content: space-between; }
    .charts .charts-wrapper a {
      text-decoration: none; }
      .charts .charts-wrapper a div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .charts .charts-wrapper a div .playlist-image {
          position: relative;
          width: 100%;
          height: 100%; }
          .charts .charts-wrapper a div .playlist-image:hover .playlist-cover {
            background-color: rgba(0, 0, 0, 0.5); }
            .charts .charts-wrapper a div .playlist-image:hover .playlist-cover .playlist-button {
              display: block; }
            .charts .charts-wrapper a div .playlist-image:hover .playlist-cover:after {
              display: block; }
          .charts .charts-wrapper a div .playlist-image .playlist-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
            z-index: 2; }
            .charts .charts-wrapper a div .playlist-image .playlist-cover .playlist-button {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              border-left: 30px solid #FFFFFF;
              border-top: 20px solid transparent;
              border-bottom: 20px solid transparent;
              z-index: 9; }
            .charts .charts-wrapper a div .playlist-image .playlist-cover:after {
              content: '';
              display: none;
              position: absolute;
              border: 2px solid #FFFFFF;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.8);
              width: 70px;
              height: 70px;
              z-index: 5;
              top: 50%;
              left: 50%;
              transform: translate(-57%, -50%); }
      .charts .charts-wrapper a p {
        color: #FFFFFF;
        margin-top: 10px; }

.new-releases {
  width: 100%;
  margin: 20px 0; }
  .new-releases h3 {
    color: #FFFFFF;
    font: bold 24px 'Arial'; }
  .new-releases hr {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    padding: 0;
    border-bottom: 2px solid #FFFFFF;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent; }
  .new-releases .new-releases-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .new-releases .new-releases-wrapper a {
      text-decoration: none; }
      .new-releases .new-releases-wrapper a div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .new-releases .new-releases-wrapper a div .playlist-image {
          position: relative;
          width: 100%;
          height: 100%; }
          .new-releases .new-releases-wrapper a div .playlist-image:hover .playlist-cover {
            background-color: rgba(0, 0, 0, 0.5); }
            .new-releases .new-releases-wrapper a div .playlist-image:hover .playlist-cover .playlist-button {
              display: block; }
            .new-releases .new-releases-wrapper a div .playlist-image:hover .playlist-cover:after {
              display: block; }
          .new-releases .new-releases-wrapper a div .playlist-image .playlist-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
            z-index: 2; }
            .new-releases .new-releases-wrapper a div .playlist-image .playlist-cover .playlist-button {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              border-left: 30px solid #FFFFFF;
              border-top: 20px solid transparent;
              border-bottom: 20px solid transparent;
              z-index: 9; }
            .new-releases .new-releases-wrapper a div .playlist-image .playlist-cover:after {
              content: '';
              display: none;
              position: absolute;
              border: 2px solid #FFFFFF;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.8);
              width: 70px;
              height: 70px;
              z-index: 5;
              top: 50%;
              left: 50%;
              transform: translate(-57%, -50%); }
        .new-releases .new-releases-wrapper a div p {
          color: #FFFFFF;
          margin-top: 10px;
          margin-bottom: 10px; }

.category {
  padding: 20px 0;
  width: 100%; }
  .category h3 {
    color: #FFFFFF;
    font: bold 24px 'Arial'; }
  .category hr {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    padding: 0;
    border-bottom: 2px solid #FFFFFF;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent; }
  .category .category-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .category .category-wrapper a {
      text-decoration: none; }
      .category .category-wrapper a div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .category .category-wrapper a div .playlist-image {
          position: relative;
          width: 100%;
          height: 100%; }
          .category .category-wrapper a div .playlist-image:hover .playlist-cover {
            background-color: rgba(0, 0, 0, 0.5); }
            .category .category-wrapper a div .playlist-image:hover .playlist-cover .playlist-button {
              display: block; }
            .category .category-wrapper a div .playlist-image:hover .playlist-cover:after {
              display: block; }
          .category .category-wrapper a div .playlist-image .playlist-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
            z-index: 2; }
            .category .category-wrapper a div .playlist-image .playlist-cover .playlist-button {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              border-left: 30px solid #FFFFFF;
              border-top: 20px solid transparent;
              border-bottom: 20px solid transparent;
              z-index: 9; }
            .category .category-wrapper a div .playlist-image .playlist-cover:after {
              content: '';
              display: none;
              position: absolute;
              border: 2px solid #FFFFFF;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.8);
              width: 70px;
              height: 70px;
              z-index: 5;
              top: 50%;
              left: 50%;
              transform: translate(-57%, -50%); }
        .category .category-wrapper a div p {
          color: #FFFFFF;
          margin-top: 10px;
          margin-bottom: 10px; }

.genres {
  width: 100%;
  margin: 20px 0; }
  .genres h3 {
    color: #FFFFFF;
    font: bold 24px 'Arial'; }
  .genres hr {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    padding: 0;
    border-bottom: 2px solid #FFFFFF;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent; }
  .genres .genres-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .genres .genres-wrapper a {
      text-decoration: none;
      width: 275px;
      height: 275px;
      margin-bottom: 40px; }
      .genres .genres-wrapper a .genre-tile {
        width: 100%;
        height: 100%;
        position: relative; }
        .genres .genres-wrapper a .genre-tile:hover p {
          text-decoration: underline; }
        .genres .genres-wrapper a .genre-tile p {
          color: #FFFFFF;
          position: absolute;
          top: 75%;
          left: 50%;
          transform: translateX(-50%); }

.album .album-header {
  display: flex; }
  .album .album-header .album-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px; }
    .album .album-header .album-info h1 {
      margin-bottom: 20px; }
